<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>bank-api</contextName>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty name="LOG_PATH" source="logging.file.path" defaultValue="logs" />
    <springProperty name="LOG_NAME" source="logging.file.name" defaultValue="app" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{
                        "severity": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "app": "%contextName"
                        }</pattern>
                </pattern>
                <mdc />
                <arguments />
            </providers>
        </encoder>
    </appender>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>{
                        "severity": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "app": "%contextName"
                        }</pattern>
                </pattern>
                <mdc />
                <arguments />
                <callerData />
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONTROLLER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/controller.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>{
                        "severity": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "app": "%contextName"
                        }</pattern>
                </pattern>
                <mdc />
                <arguments />
                <callerData />
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/controller-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="SERVICE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/service.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>{
                        "severity": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "app": "%contextName"
                        }</pattern>
                </pattern>
                <mdc />
                <arguments />
                <callerData />
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/service-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="KAFKA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/kafka.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <pattern>
                    <pattern>{
                        "severity": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message",
                        "app": "%contextName"
                        }</pattern>
                </pattern>
                <mdc />
                <arguments />
                <callerData />
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/kafka-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.example.bankcards.controller" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="CONTROLLER_FILE" />
    </logger>

    <logger name="com.example.bankcards.service" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SERVICE_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APP_FILE" />
    </root>

    <logger name="com.example.bankcards.config.kafka" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="KAFKA_FILE" />
    </logger>

    <logger name="com.example.bankcards.service.kafka" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="KAFKA_FILE" />
    </logger>
</configuration>
